@import "@Poneglyph/ui/globals.css";
@plugin "@tailwindcss/typography";

@layer base {
  a {
    color: oklch(0.6 0.2 250);
  }
  a:hover {
    color: oklch(0.55 0.22 253);
  }
}

@keyframes sky-gradient {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-sky-gradient {
  animation: sky-gradient 5s ease-in-out forwards;
}
